{% extends 'base.html.twig' %}

{% block title %}Podziękowanie{% endblock %}
{% block stylesheets %}
<!-- CSS -->
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block body %}
<h3>Dziękujemy za wysłanie aplikacji. Numer tej aplikacji to: {{ candidate.id }}</h3>
{% endblock %}